/*
 * Codengine
 * FilePath: css/base.css
 * Author: Daniel Golub - www.DanielGolub.com
*/

html, body { height: 100%; }

* {
	font-family: source-sans-pro, helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	border: none;
}

header {
	background: transparent url('../img/compressed/header-bg-compressor.png') repeat-x 0% 100%;
	width: 100%;
	height: 600px;
	color: #fff;
}

/*header nav {
	background: none !important;
	border: none !important;
}

#logo {
	margin: 0;
	padding: 0;
}

#logo a {
	font-size: 40px;
	color: #fff;
}

#logo a .glyphicon {
	float: left;
	margin-top: -12px;
	padding-right: 7px;
}*/

.logo {
	margin-top: 50px;
}

.logo a {
	color: #fff;
}

.logo a span {
	background: #fff;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 4px;
	margin-right: 7px;
	color: #3d3d3d;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.logo a:hover {
	text-decoration: none;
}

h2 {
	font-weight: 300;
	font-size: 35px;
	text-transform: uppercase;
}

#page h2 {
	font-weight: 400;
	text-transform: none;
}

#page p {
	font-size: 18px !important;
}

#menu {
	float: right;
	margin-top: 38px;
	font-weight: 400;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}

#intro {
	margin-top: 30px;
	margin-bottom: 20px;
}

#intro-imgs {
	padding-top: 15px;
	padding-bottom: 15px;
	background: #fff;
	margin: auto;
	max-width: 1000px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.intro-img {
	max-width: 1000px;
	width: 100%;
	/*-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	filter: blur(2px);
	-moz-filter: blur(2px);
	-webkit-filter: blur(2px);*/
}

.intro-img:hover {
	/*filter: blur(0px);
	-moz-filter: blur(0px);
	-webkit-filter: blur(0px);*/
}

#content {
	margin-top: 50px;
}

#content h3 {
	font-size: 25px;
}

#content h4 {
	font-size: 22px;
}

#content p {
	font-size: 15px;
	line-height: 28px;
	margin-top: 5px;
	font-weight: 400;
}

.glyphicon-bg {
	background: #135884;
	color: #fff;
	padding-left: 10px;
	padding-top: 6px;
	padding-right: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.profile-item {
	margin-bottom: 10px;
	float: left;
	margin-left: 15px;
}

.profile-item img {
	width: 130px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.profile-item span {
	display: block;
	color: #000;
	font-weight: 400;
	font-size: 18px;
	width: 130px;
	margin-top: 5px;
	text-align: center;
}

#content .col-md-6 label {
	font-size: 18px;
	font-weight: 400;
}

.progress {
	height: 27px;
}

.progress-bar span {
	font-weight: 400;
	font-size: 16px;
	margin-top: 4px;
	display: block;
}

#get-started {
	/*background: #ededed;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}

#examples {
	margin-top: 20px;
}

#examples .item {
	background: #ededed;
	padding: 15px 17px 15px 17px;
	margin-top: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#examples .item h3 {
	margin: 0;
	text-transform: capitalize;
}

#examples .item p {
	margin: 0;
}

footer {
	background: transparent url('../img/compressed/footer-bg-compressor.png') repeat-x 0% 0%;
	margin-top: 40px;
	padding-top: 35px;
	/*padding-bottom: 15px;*/
	font-size: 16px;
	color: #fff;
}

footer .container {
	font-weight: 400;
}

footer h4 {
	font-size: 25px;
}

footer p {
	font-weight: 400;
}

footer p a {
	font-weight: 400;
	color: #fff;
	text-decoration: underline;
}

footer p a:hover {
	color: #fff;
}

footer ul {
	list-style-type: none;
	margin-left: -40px;
}

footer ul li {
	margin-top: 8px;
}

footer ul li a {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}

footer ul li a:hover {
	text-decoration: none;
	color: #fff;
}

#footer-credits {
	background: #2B74A7;
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

@media (max-width: 991px) {
	#intro-imgs {
		display: none;
	}

	header {
		height: 260px;
	}

	#content .col-md-3:first-child a:last-child {
		margin-bottom: 20px;
	}

	#content .col-md-6:first-child {
		width: 100%;
		height: 200px;
	}

	footer {
		text-align: center;
	}
}

@media (max-width: 768px) {
	header {
		height: 290px;
	}
}